<header class='container'>
  <div class="cell-10 profile col-flex">
    <div class="  align-center">
      <h1><a href="{% if site.baseurl %}{{site.baseurl}}{% else %}/{% endif %}">Mohammad²</a></h1>  
      <div class="social-list">
        <a target='_blank' class="social-item" href="{{ site.data.site_info.social.github }}"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
        <a target='_blank' class="social-item" href="{{ site.data.site_info.social.instagram }}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a target='_blank' class="social-item" href="{{ site.data.site_info.social.facebook }}"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a target='_blank' class="social-item" href="{{ site.data.site_info.social.stackoverflow }}"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
        <a target='_blank' class="social-item" href="{{ site.data.site_info.social.linkedin }}"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
      </div>
    </div>
    <img class='' src="{% if site.baseurl %}{{site.baseurl}}{% endif %}/img/avatar.png">
  </div> 

  <div class="cell-14 col-flex about-me">
    <p>{{ site.data.site_info.about_me }}</p>
  </div>

  
  <nav class="cell-1">
    <a href="{% if site.baseurl %}{{site.baseurl}}{% else %}/{% endif %}">Home</a>
    <a target="_blank" href="mailto:m91.alahmadi@gmail.com?subject=[My Site]">Contact</a>
    {% if collections.static %}  
    {% for file in collections.static.files %}
    <a href="{% if site.baseurl %}{{site.baseurl}}{% endif %}{{ file.url }}">{{ file.title }}</a>
    {% endfor%}
    {% endif %}
  </nav>
  
  
</header>