<div class="container">
  <div class="cell-10">
    <h3><i class="fa fa-map-marker" aria-hidden="true"></i> Location</h3>
    <ul>
      <li>Los Angeles</li>
      <li>Kuwait</li>
    </ul>
  </div>
  <div class="cell-14">
    <h3>Links</h3>
    <ul class=''>
      <li><a target='_blank' href="https://www.youtube.com/watch?v=aotk5W5Ccys">Favorite video of all time</a></li>
      <li><a target='_blank' href="https://www.youtube.com/watch?v=g5lUeIDNfXI">Raven trying to get her dad's job back</a></li>
    </ul>
  </div>
</div>