<h1>Projects</h1>
<h2>Academic</h2>
<ul>
  <li><a href="#">Lorem ipsum dolor sit amet, consectetur</a> — sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</li>
  <li><a href="#">Lorem ipsum dolor sit amet, consectetur</a> — sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</li>
  <li><a href="#">Lorem ipsum dolor</a> — sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</li>
  <li><a href="#">Lorem</a> — sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</li>
</ul>