<h1>Projects</h1>
<h2>Misc</h2>
<ul>
  <li><a href="https://alahmadiq8.github.io/S3-Routing-Rules-Builder/">Amazon S3 Routing Rules Builder</a> — Inspired by <a href="https://www.netlify.com/docs/redirects/">Netlify</a>'s redirect syntax, build <a href="http://docs.aws.amazon.com/AmazonS3/latest/dev/HowDoIWebsiteConfiguration.html#configure-bucket-as-website-routing-rule-syntax">S3 conditional routing rules</a> using a simple space separated syntax.
  </li>
</ul>
<ul>
  <li><a href="https://wunderlist-parser.herokuapp.com/">WunderList Parser</a> — A Node.js web app to parse line separated tasks into <a target="_blank" href="https://www.wunderlist.com">WunderList</a> user's
  account using Wunderlist REST api. This was an implemenation of a users' 
  requested feature <a target="_blank" href="https://support.wunderlist.com/customer/portal/questions/12881772-importing-a-text-list-of-tasks">Importing a text list of tasks</a>.
  </li>
</ul>
<h2>Academic</h2>
<ul>
  <li><a target='_blank' href="https://github.com/AlahmadiQ8/SignSpeech">SignSpeach</a> — A Communication Device for Sign Language Users</li>
  <li><a target='_blank' href="https://dl.dropboxusercontent.com/u/36164308/Standard%20Cell%20Router.pdf">Cell Router</a> — Wrote a routing algorithm programmed in C++ to route all pins in a given nanometer IC.</li>
</ul>