{% extends "_base.html" %}

{% block content %}

  <div class="container">
    <div class="red-message">
      <p><i class="fa fa-times js-close" aria-hidden="true"></i><i class="fa fa-exclamation" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;I spend more time editing the site theme than actually write content 😬</p>
    </div>
  </div>

  <div class="container">
    
    <div class="cell-14">
      {% include "blocks/_posts.html" %}
    </div>

    <div class="cell-10">
    {% include "blocks/_projects.html" %}
    </div>
    
  </div>

  {% include "blocks/_misc_block.html" %}

{% endblock %}